@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLORS */
/* $primary-color: slate-300 */
/* secondary-color: slate-900 */
/* gray: slate-600 */


@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Regular.ttf");
  font-style: medium;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("/fonts/Poppings-Light.ttf");
  font-style: medium;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("/fonts/Poppings-Regular.ttf");
  font-style: medium;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
